// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* universal */

body {
    font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
}

img {
    border: 0;
}



/* header */

.navbar-static-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #00b5ad;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 40px;
    margin-top: 0px;
}


.search {
    margin-left: 20px;
    margin-top: 3px;
}

.ui.input input {
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.2142em;
    font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
    padding: .67861429em 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    -webkit-transition: box-shadow .1s ease, border-color .1s ease;
    -webkit-transition: border-color .1s ease, -webkit-box-shadow .1s ease;
    transition: border-color .1s ease, -webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease, -webkit-box-shadow .1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.icon.input {
    position: relative;
}

.ui.icon.input input {
    padding-right: 2.67142857em !important;
    font-size: 1em;
    padding-top: .57142857em;
    padding-bottom: .57142857em;
}

input {
    line-height: normal;
}

.prompt {
    border-radius: 500rem;
}

.ui.icon.input > i.icon {
    cursor: default;
    position: absolute;
    line-height: 2.3;
    text-align: center;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    width: 2.67142857em;
    opacity: .5;
    border-radius: 0 .28571429rem .28571429rem 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.ui.input.focus input, .ui.input input:focus {
    border-color: #85b7d9;
    background: #fff;
    color: rgba(0, 0, 0, .8);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.focus .icon {
    opacity: 1 !important;
}

.focus input::-webkit-input-placeholder {
    color: gray;
}

input::-webkit-input-placeholder {
    color: lightgray;
}


/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #000;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}

/* User register page */
.register-page {
    img.captcha {
        cursor: pointer;
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 3px;
    }
}


/* Post Index Page */
.posts-index-page, .categories-show-page {
    .post-list {
        .nav > li > a {
            position: relative;
            display: block;
            padding: 5px 14px;
            font-size: 0.9em;
        }

        a {
            color: #158aa5;
        }

        .meta {
            font-size: 0.9em;
            color: #b3b3b3;

            a {
                color: #b3b3b3;
            }
        }

        .badge {
            background-color: #d8d8d8;
        }

        hr {
            margin-top: 12px;
            margin-bottom: 12px;
            border: 0;
            border-top: 1px solid #dcebf5;
        }
    }
}

/* Add container and footer space */
#app > div.container {
    margin-bottom: 100px;
}

svg {
    width: 8px;
}

/* 回复列表 */

.post-reply {
    a {
        color: inherit;
    }

    .meta {
        font-size: .9em;
        color: #b3b3b3;
    }
}

/* 消息通知 */
.notification-badge {
    .badge {
        font-size: 12px;
        margin-top: 14px;
    }

    .badge-secondary {
        background-color: #EBE8E8;
    }

    .badge-hint {
        background-color: #d15b47 !important;
    }
}

/** 头部搜索栏 ****/
.searchInputDiv {
    position: relative;
}
.searchInput{
    width: 100%;
}

.results {
    display: none;
    width: 550px;
    padding-top: 8px;
    background: gray;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    white-space: normal;
    background: #fff;
    margin-top: .5em;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
    border: 1px solid #d4d4d5;
    z-index: 998;
}
.transition {
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.results .result {
    cursor: pointer;
    display: block;
    overflow: hidden;
    font-size: 1em;
    padding: .85714286em 1.14285714em;
    color: rgba(0, 0, 0, .87);
    line-height: 1.33;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
}

.results .result:hover {
    background: #f9fafb;
}


.results .result .image img {
    display: block;
    width: auto;
    height: 100%;
}

.results > .action {
    display: block;
    border-top: none;
    background: #f3f4f5;
    padding: .92857143em 1em;
    color: rgba(0, 0, 0, .87);
    font-weight: 700;
    text-align: center;
}

.results > .action:hover {
    background: #e0e0e0;
}

.results .result .image {
    float: right;
    overflow: hidden;
    background: none;
    width: 5em;
    height: 3em;
    border-radius: .25em;
}

.results .result .image + .content {
    margin: 0 6em 0 0;
}

.results .result .title {
    margin: -.14285em 0 0;
    font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: rgba(0, 0, 0, .85);
}

.results .result .description {
    font-size: .92857143em;
    color: rgba(95,89,89,.86);
    line-height: 24px;
    margin: 6px 0 4px;
}

.results>.message {
    padding: 1em;
}

.results>.message .header {
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: rgba(0,0,0,.87);
}

.results>.message .description {
    margin-top: .25rem;
    font-size: 1em;
    color: rgba(0,0,0,.87);
}

.results>:last-child {
    border-radius: 0 0 .28571429rem .28571429rem;
}

.post-body img{
    max-width: 100%;
}
